%h1
  Me
%h2 
  This is all about me.
%body
  My name is Nathaniel Erskine. I am approximately 6ft tall with blue eyes and brown/blonde hair. I say brown/blonde because there is a small area around my head that is blonde but most of my hair is brown. I am lean and somewhat athletic, I love to skateboard. I have blue eyes and sometimes they are green depending on the color of the clothes I wear.
