%h2 This is my collection of homemade skate videos.
%body
  %iframe(width="420" height="315" src="http://www.youtube.com/embed/n4DJqPuo6mQ" frameborder="0" allowfullscreen)
  %p This is my first video ever! Which coincidently is also my worst video ever. There are more flatground and ollie clips than any video of this length should have. Not to mention I don't like my style or the fact that all of the clips were filmed in roughtly a 5 block radius :( .

  %iframe(width="420" height="315" src="//www.youtube.com/embed/Q2Sd0S9HV6Y" frameborder="0" allowfullscreen)
  %p Yay a better video, this one is definately better than my first one and longer too! Better variety of tricks, the obsticals are harder (but not much harder) and the song is just amazing! But altogether I probably could have done better.

  %iframe(width="420" height="315" src="//www.youtube.com/embed/P86sP7-IDEY" frameborder="0" allowfullscreen)
  %p Sponsor Me aquired... This video is good, by my personal standards. but if I had taken a lot more time it could have been way better. To be honest I rushed this video and it really ended up hurting me. After spending some time researching other youtubers Sponsor me videos, I have come to the conclusion that mine kinda sucks. Well the next couple of videos are gonna be movie parts and they are all gonna be sooooo good! Can't wait for the day.
